<!DOCTYPE html>
<html lang="en">

<body style="background:url(/Content/background1.jpg);background-size:cover">
    <style>
        #nav {
            line-height: 25px;
            background: url #eeeeee;
            height: 600px;
            width: 200px;
            float: left;
            padding: 5px;
        }



        #footer {
            background-color: black;
            color: white;
            clear: both;
            text-align: center;
            padding: 5px;
        }
    </style>


    <div id="nav" style="margin:10% 0 0 38%">

        <ul class="list-group">
            <li class="list-group-item col-lg-12" style="width:200% !important">
                <a href="/Home/adminfotografmakinesiekle">
                    <i class="fa fa-book fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">fotoğraf makinesi </span>
                </a>
            </li>
            <li class="list-group-item col-lg-12" style="width:200% !important">
                <a href="/Home/adminaracekle">
                    <i class="fa fa-book fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">otomobil </span>
                </a>
            </li>

            <li class="list-group-item col-lg-12" style="width:200% !important">
                <a href="/Home/adminbilgisayarekle">
                    <i class="fa fa-user fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">bilgisayar </span>
                </a>
            </li>

            <li class="list-group-item col-lg-12" style="width:200% !important">
                <a href="/Home/admintelefonekle">
                    <i class="fa fa-book fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">telefon </span>
                </a>
            </li>

            <li class="list-group-item col-lg-12" style="width:200% !important">
                <a href="/Home/admintabletekle">
                    <i class="fa fa-user fa-fw">
                        <div class="icon-bg bg-pink"></div>
                    </i><span class="menu-title">tablet </span>
                </a>
            </li>

        </ul>



       
    </div>







</body>

</html>