
    @{

        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <html>
    <body style="background: url(/Content/background2.jpg); background-size: cover;">
        <br />
        <br />
        <br />
      @*  <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 45%"></div>
        </div>
          *@

        <br />
        <br />
        
        <div class="alert alert-dismissible alert-info">
            <br/>
            <p class="text-warning" style="font-size:larger">Sitemiz Hakkında Detaylı Bilgi.</p>
            <strong>SİTEMİZDE ÜRÜNLERİN ÖZELLİKLERİ VERİLMEKTE BU SAYEDE ÜRÜNLERLE İLGİLİ TANITIM YAPILMAKTADIR.</strong>
            <br />
            <br />
            <br />
        </div>
        <br />
        <br />
        <br />
      @*  <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 45%"></div>
        </div>
          *@

    </body>
</html>
