@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body style="background: url(/Content/background2.jpg); background-size: cover;">
    <br />
    <br />
    <br />
    @*  <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 45%"></div>
        </div>
    *@

    <br />
    <br />
    
    <div class="alert alert-dismissible alert-info">
        <strong>
            <p class="text-warning" style="font-size:larger">Bizimle İletişime Gecebilirsiniz.</p>
        <br/>
        ADMİN BİLGİLERİ:
        <br/>
                YUNUS ÖZTEKİN
        <br/>
                 MAİL:
        <br/>
                yunusöztekin@gmail.com
        <br/>     
                 TELEFON:
        <br/>
                05061727481     </strong>
        <br />
        <br />
        <br />
    </div>
    <br />
    <br />
    <br />
    @*  <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 45%"></div>
        </div>
    *@

</body>
</html>
